@font-face {
  font-family: 'Typewriter';
  src: url(../fonts/typewriter/EuropeanTypewriter.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri-light';
  src: url(../fonts/calibri-light/calibril.woff) format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Calibri-light", Calibri, sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading_container h2 {
  position: relative;
}

h2 {
  font-family: "Typewriter", "Calibri-light", sans-serif;
}

/* Language switch default */

.lv {
  display: none;
}

.en {
  display: block;
}

/* AUTHOR POPUP */

.author-popup {
  display: none;
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.60)
}

.popup-content {
  height: 100%;
  width: 100%;
  /* background:
    linear-gradient(290deg, #233A6C 63%, rgba(255,0,0,0) 63%) 100% 41% / 72% 28%,
    linear-gradient(326deg, #14213D 63%, rgba(255,0,0,0) 63%) 100% 100% / 100% 50%,
    linear-gradient(346deg, #233A6C 63%, rgba(255,0,0,0) 63%) 100% 11% / 42% 52%;
  background-repeat: no-repeat; */
}

.popup-content > .rect1 {
  z-index: 1002;
  position: fixed;
  background-color: #233A6C;
  height: 105%;
  width: 600px;
  top: -25%;
  right: 500px;
  -webkit-transform: rotate(25deg);
        -moz-transform: rotate(25deg);
        -o-transform: rotate(25deg);
        transform: rotate(25deg);
}

.popup-content > .rect2 {
  z-index: 1002;
  position: fixed;
  background-color: #233A6C;
  height: 90%;
  width: 300px;
  top: -15%;
  right: 200px;
  -webkit-transform: rotate(25deg);
        -moz-transform: rotate(25deg);
        -o-transform: rotate(25deg);
        transform: rotate(25deg);
}

.popup-content > .rect3 {
  position: fixed;
  background-color: #FCA311;
  height: 110%;
  width: 400px;
  top: -20%;
  right: 600px;
  -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-25deg);
        -o-transform: rotate(-25deg);
        transform: rotate(-25deg);
}

.popup-all-content {
  position: absolute;
  display: flex;
  z-index: 1004;
  color: white;
  max-width: 700px;
  text-align: end;
  top: 17%;
  right: 400px;
}

.popup-inner-content {
  padding-top: 40px;
}

.popup-inner-content > h1 {
  font-family: "Typewriter", "Calibri-light", sans-serif;
  color: #FCA311;
}

.popup-inner-content > p {
  font-family: "Calibri-light", sans-serif;
}

.popup-inner-content > button {
  border: none;
  background-color: #14213D;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 18px;
  opacity: 80%;
  padding-inline: 20px;
}



/* end of author popup */

/*header section*/
.hero_area {
  height: 100vh;
  position: relative;
  /* background-image: url(../images/hero-bg.png);
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat; */
}

.sub_page .hero_area {
  height: auto;
  background-position: top right;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {
  height: 80px;
  background-color: #233A6C;

}

.header_section .container-fluid {
  max-width: 1170px;
  padding-right: 25px;
  padding-left: 25px;
  height: 100%;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 30px;
  color: #ffffff;
  text-align: center;
}

.navbar {
  height: 100%;
}

.form-inline {
  padding-right: 30px;
}

.form-inline button {
  font-family: "Typewriter", sans-serif;
  font-weight: 700;
  height: 30px;
  width: 100px;
  border: none;
  background-color: #FCA311;
  color: #233A6C;
}

.form-inline button:hover {
  border: 1px solid #FCA311;
  color: #FCA311;
  background-color: #233A6C;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: flex;
  padding-left: 30px;
}

.navbar-brand img {
  width: 40px;
}

.navbar-brand span {
  font-size: 22px;
  font-weight: 700;
  color: #191919;
  text-transform: uppercase;
}

.custom_nav-container {
  z-index: 100;
  padding: 5px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 45px;
}

.quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote_btn-container a {
  color: #000000;
  position: relative;
}

.quote_btn-container a .cart_number {
  position: absolute;
  top: 68%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 12px;
}

.quote_btn-container a img {
  width: 20px;
  margin: 0 25px;
}

.lang-change {
  padding-right: 10px;
}

.lang-switch-bttn {
  font-family: 'Typewriter';
  border: none;
  color: #FCA311;
  padding: 0;
  background-color: #233A6C;
}

.seperator {
  color: #FCA311;
}

/*end header section*/
/* slider section */

.landing-background {
  width: 100%;
  height: 100%;
  background:
    linear-gradient(290deg, #233A6C 63%, rgba(255,0,0,0) 63%) 100% 41% / 72% 28%,
    linear-gradient(326deg, #14213D 63%, rgba(255,0,0,0) 63%) 100% 100% / 100% 50%,
    linear-gradient(346deg, #233A6C 63%, rgba(255,0,0,0) 63%) 100% 11% / 42% 52%;
  background-repeat: no-repeat;
  position: absolute;
  /* z-index: 100; */
  -webkit-transform: rotate (180deg);
          transform: rotate(180deg);
}

.container {
  height: 100%
}

.carousel {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-inner > .row {
  height: 100%;
}

.landing-cover {
  background-image: url(../images/main/spot-collage.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  
}

.detail_box {
  padding-left: 40px;
}

.slider_section {
  height: calc(100% - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .design-box {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 75px;
}

.slider_section .design-box img {
  width: 100%;
}

.slider_section .slider_number-container {
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 4%;
  text-align: center;
  opacity: .6;
}

.slider_section .slider_number-container .number-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  text-transform: uppercase;
}

.slider_section .detail_box h2 {
  color: #FFFFFF;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .detail_box h2 span {
  margin-right: 10px;
}

.slider_section .detail_box h2 hr {
  margin: 0;
  border: none;
  width: 55px;
  height: 1px;
  background-color: #000000;
}

.slider_section .detail_box h1 {
  font-family: "Typewriter", "Calibri-light", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 5rem;
  margin-bottom: 30px;
  color: #FFFFFF;
}

.slider_section .detail_box a {
  display: inline-block;
  padding: 8px 40px;
  background-color: #0d0806;
  border: 1px solid #0d0806;
  color: #ffffff;
  border-radius: 0;
  margin: 35px 0;
}

.slider_section .detail_box a:hover {
  background-color: transparent;
  color: #0d0806;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel-indicators {
  padding: 0;
  margin: 0;
  right: initial;
  bottom: 22%;
  left: 17%;
}

.slider_section .carousel-indicators li {
  text-indent: 0;
  width: auto;
  height: auto;
  opacity: 1;
  background-color: transparent;
  border: none;
  color: #c0c0c0;
  font-size: 24px;
  display: none;
}

.slider_section .carousel-indicators li.active {
  display: block;
}

.item_section .item_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item_section .item_container .box {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 10px;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.15);
}

.item_section .item_container .box .img-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item_section .item_container .box .img-box img {
  width: 125px;
}

.item_section .item_container .box h6 {
  color: #fbb534;
  text-transform: uppercase;
}

.item_section .item_container .box h5 {
  text-transform: uppercase;
}

.item_section .item_container .box:hover {
  -webkit-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.1);
}

.about_section {
  position: relative;
  height: fit-content;
}

.about_section .container {
  display: flex;
  overflow: hidden;
}

.cadets-content {
  padding-top: 200px;
}

.cadets-background {
  width: 100%;
  height: 101%;
  background:
    linear-gradient(291deg, #233A6C 63%, rgba(255,0,0,0) 63%) 100% 28% / 79% 30%,
    linear-gradient(326deg, #233A6C 63%, rgba(255,0,0,0) 63%) 100% 100% / 100% 70%,
    linear-gradient(349deg, #233A6C 63%, rgba(255,0,0,0) 63%) 100% 14% / 47% 20%;
  background-repeat: no-repeat;
  position: absolute;
}

.about_cbg_contain {
  position: relative;
}

.zemitana-container {
  position: relative;
  height: 55vh;
  display: flex;
  overflow: hidden;
}

.zemitans-background {
  width: 100%;
  height: 103%;
  background-color: #233A6C;
  position: absolute;
}

.vef-background {
  width: 100%;
  height: 103%;
  background:
    linear-gradient(157deg, #233A6C 63%, rgba(255,0,0,0) 61%) 111% 17% / 33% 120%, 
    linear-gradient(188deg, #233A6C 63%, rgba(255,0,0,0) 63%) 59% 19% / 38% 147%,    
    linear-gradient(229deg, #233A6C 63%, rgba(255,0,0,0) 63%) 0 0 / 48% 70%;
  background-repeat: no-repeat;
  position: absolute;
}

.ce-background {
  width: 100%;
  height: 101%;
  background:
      linear-gradient(198deg, #233A6C 63%, rgba(255,0,0,0) 63%) 100% 100% / 46% 26%,    
      linear-gradient(225deg, #233A6C 63%, rgba(255,0,0,0) 63%) 102% 5% / 100% 81%;
  background-repeat: no-repeat;
  position: absolute;
  -webkit-transform: rotate (180deg);
          transform: rotate(180deg);
}

.about_section .design-box {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 75px;
}

.about_section .design-box img {
  width: 100%;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .detail-box p {
  margin-top: 10px;
  color: #ffffff;
  font-size: 18px;
}

.about_section .detail-box a {
  font-family: "Typewriter", sans-serif;
  display: inline-block;
  padding: 8px 40px;
  background-color: #14213D;
  border: 1px solid #14213D;
  color: #ffffff;
  border-radius: 0;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #FCA311;
  border-color: #FCA311;
}

.chai-button {
  font-family: "Typewriter", sans-serif;
  display: inline-block;
  padding: 8px 40px;
  background-color: #14213D;
  border: 1px solid #14213D;
  color: #ffffff;
  border-radius: 0;
}

.chai-button:hover {
  background-color: transparent;
  color: #FCA311;
  border-color: #FCA311;
}

.about_section h2 {
  color: #FCA311
}

.about_section .img-box img {
  width: 100%;
  transform: scaleX(-1);
}

.about_section .img-box-v2 img {
  width: 100%;
}

/* PRICE SECTION BEGINNING */

/* carousel */


/* carousel END */

.price_section {
  background-color: #f8f8f8;
}

.price_section .price_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price_section .price_container .box {
  min-width: 300px;
  max-width: 360px;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 35px 10px;
  padding: 45px 0 25px 0;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.price_section .price_container .box .img-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price_section .price_container .box .img-box img {
  width: 150px;
}

.price_section .price_container .box h6 {
  font-weight: bold;
  font-size: 18px;
}

.price_section .price_container .box .detail-box h5 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
}

.price_section .price_container .box .detail-box h5 span {
  color: #fbb534;
}

.price_section .price_container .box .detail-box a {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #000000;
  font-weight: bold;
  color: #000000;
  margin-top: 15px;
}

.price_section .price_container .box:hover a {
  border-color: #fbb534;
  color: #fbb534;
}

.price_section .price_btn {
  display: inline-block;
  padding: 8px 40px;
  background-color: #0d0806;
  border: 1px solid #0d0806;
  color: #ffffff;
  border-radius: 0;
}

.price_section .price_btn:hover {
  background-color: transparent;
  color: #0d0806;
}

.ring_section {
  text-align: center;
  position: relative;
}

.ring_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ring_section .container {
  -webkit-box-shadow: 0px 0px 56px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 56px 1px rgba(0, 0, 0, 0.08);
}

.ring_section .design-box {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 75px;
}

.ring_section .design-box img {
  width: 100%;
}

.ring_section .ring_container .detail-box h4 {
  text-transform: uppercase;
  color: #fbb534;
}

.ring_section .ring_container .detail-box a {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #000000;
  font-weight: bold;
  color: #000000;
  margin-top: 15px;
}

.ring_section .ring_container .img-box img {
  width: 100%;
}

/*Client section */

/* .carouselv2 {
  position: relative;
  width: 600px;
  height: 400px;
  overflow: hidden;
}

.carouselv2-container {
  display: flex;
  width: 300%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carouselv2-container img {
  width: 100%;
  height: 100%;
}

.carouselv2-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.indicatorv2 {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.indicatorv2.active {
  background-color: #555;
} */

.slider {
  height: 80vh;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 1s linear forwards;
          animation: check 1s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__image {
  font-size: 2.7rem;
      color: #2196F3;
}
.slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt {
  padding-top: 20px;
  color: #999;
  margin-bottom: 3rem;
  max-width: 600px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

.client_section .heading_container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
    
}

.client_section .secondary_heading {
  text-align: center;
}

.client_section .client_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  width: 85%;
  margin: 20px auto 75px auto;
}

.client_section .client_container .client-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

.client_section .client_container .client-id .img-box {
  margin-right: 25px;
}

.client_section .client_container .client-id .img-box img {
  width: 100%;
}

.client_section .client_container .client-id h5 {
  font-weight: bold;
}


.client_section .client_container .detail-box {
  width: 55%;
}

.client_section .client_container .detail-box p {
  margin: 0;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  opacity: 1;
}

.client_section .carousel-control-prev {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.client_section .carousel-control-next {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.client_section .carousel-control-prev-icon,
.client_section .carousel-control-next-icon {
  width: 30px;
  height: 30px;
  background-size: 25px;
}

.client_section .carousel-control-prev-icon {
  background-image: url(../images/prev-black.png);
}


.client_section .carousel-control-next-icon {
  background-image: url(../images/next-black.png);
}

.price_btn{
  font-family: "Typewriter", sans-serif;
  padding: 8px 40px;
  background-color: #14213D;
  border: 1px solid #14213D;
  color: #ffffff;
  border-radius: 0;
  position: relative;
}

.price_btn:hover {
  background-color: transparent;
  color: #FCA311;
  border-color: #FCA311;
}

.contact_section {
  position: relative;
}

.contact_section .design-box {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  right: 0;
  width: 75px;
}

.contact_section .design-box img {
  width: 100%;
}

.contact_section h2 {
  margin-bottom: 65px;
}

.contact_section form {
  padding-right: 35px;
}

.contact_section input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 25px;
  background-color: transparent;
  outline: none;
  color: #101010;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
}

.contact_section input::-webkit-input-placeholder {
  color: #131313;
}

.contact_section input:-ms-input-placeholder {
  color: #131313;
}

.contact_section input::-ms-input-placeholder {
  color: #131313;
}

.contact_section input::placeholder {
  color: #131313;
}

.contact_section input.message-box {
  height: 120px;
}

.contact_section button {
  padding: 12px 45px;
  outline: none;
  border: none;
  border-radius: 30px;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5e47b), to(#fb930a));
  background: linear-gradient(to bottom, #f5e47b, #fb930a);
  margin-top: 35px;
}

.contact_section .map_container {
  height: 100%;
  padding-bottom: 110px;
}

.contact_section .map_container .map-responsive {
  height: 100%;
}

.info_section {
  background-color: #14213D;
  color: #ffffff;
}

.info_section .info_container .info_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 10px 45px 10px;
  background-color: #ffffff;
  width: 200px;
  border-radius: 0 0 50px 50px;
}

.info_section .info_container .info_logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_section .info_container .info_logo a img {
  width: 50px;
  margin-right: 10px;
}

.info_section .info_container .info_logo a span {
  text-transform: uppercase;
  color: #000000;
  font-size: 28px;
  font-weight: bold;
}

.info_section .info_container .info_contact {
  padding: 115px 10px 45px 10px;
}

.info_section .info_container .info_contact a {
  color: #ffffff;
}

.info_section .info_container .info_contact a img {
  margin-right: 10px;
}

.info_section .info_heading {
  text-transform: uppercase;
  margin: 20px 0;
  position: relative;
}

.info_section .info_heading::before {
  content: "";
  width: 45px;
  height: 5px;
  position: absolute;
  bottom: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5px;
  background-color: #f8bf46;
}

.info_section .info_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_section .info_form form .email_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_section .info_form form input {
  width: 500px;
  border: none;
  background-color: #ffffff;
  outline: none;
  padding: 5px;
}

.info_section .info_form form button {
  padding: 8px 65px;
  outline: none;
  border: none;
  border-radius: 30px;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5e47b), to(#fb930a));
  background: linear-gradient(to bottom, #f5e47b, #fb930a);
  margin-top: 35px;
  text-transform: uppercase;
}

.info_section .info_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_section .info_social .social_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_section .info_social .social_box img {
  min-width: 10px;
  margin: 0 10px;
}

/* footer section*/
.footer_section {
  background-color: #363636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.footer_section p {
  border-top: 1px solid #ffffff;
  color: #9c9b9b;
  margin: 0;
  text-align: center;
  padding: 20px 35px;
  margin: 0;
}

.footer_section a {
  color: #9c9b9b;
}

.accent-heading {
  color: #233A6C;
}